/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* my styles */
html {
    font-size: 16px;
}
.flex {
    display: flex;
}
.align_center {
 align-items: center;
}
.justify_between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: auto;
}
.flex_48 {
    flex: 0 1 48%;
}
.header {
    background-color: #07154C;
    text-align: center;
    padding: 0.8rem;
}
.header a {
    color: white;
    text-decoration: none;
    font-size: 1.3rem;
}
.blog {
    color: green !important;
    margin-left: 1rem;
}
.image1 {
    width: 100%;
    
}
.top_section {
    margin-top: 2rem;
}
.heading {
    font-size: 2rem;
    font-weight: 500;
    margin : 1rem 0.3rem;
    line-height: 2.5rem;
}
.description {
    font-size: 1.2rem;
    margin: 1rem 0.3rem;
    line-height: 1.6rem;
}
.button {
    width: 9rem;
    padding: 0.6rem;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: green;
    color: white;
    border: none;
}
.learn {
    color: green;
    font-size: 1.2rem;
    font-weight: bold;
}
@media screen and (max-width:768px) {
    html {
        font-size: 14px;
    }
    
}
@media screen and (max-width:600px) {
    html {
        font-size: 10px;
    }
    .wrap_new {
        flex-wrap: wrap;
    }
    .button_new {
        width: 100px;
    }

    
}

@media screen and (max-width:440px) {
    .flex_48 {
        flex: 0 1 100%;
    }
    .container {
        padding: 2rem 1rem;
    }
    
}


